<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ClinicManagementSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ClinicManagementSystem.styles.css" asp-append-version="true" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <nav class="sidebar">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="./Images/Logo.jpg" alt="Logo">
                </span>
                <div class="text header-text">
                    <span class="name">Clinic Management</span>
                    <span class="profession">System</span>
                </div>
            </div>
            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <li class="search-box">
                    <i class='bx bx-search-alt-2 icons'></i>&nbsp;&nbsp;
                    <input type="search" placeholder="Search ..." />
                </li>
                @*<ul class="menu-links">*@
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-home-alt icons'></i>&nbsp;&nbsp;
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-bar-chart-alt-2 icons'></i>&nbsp;&nbsp;
                            <span class="text nav-text">Revenue</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-bell icons'></i>&nbsp;&nbsp;
                            <span class="text nav-text">Notification</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-pie-chart-alt icons'></i>&nbsp;&nbsp;
                            <span class="text nav-text">Analytics</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-heart icons'></i>&nbsp;&nbsp;
                            <span class="text nav-text">Likes</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-wallet icons'></i>&nbsp;&nbsp;
                            <span class="text nav-text">Wallet</span>
                        </a>
                    </li>
                @*</ul>*@
            </div>

            <div class="bottom-content">
                @*<ul>*@
                    <li class="nav-bottom-link">
                        <a href="#">
                            <i class='bx bx-log-out icons'></i>&nbsp;&nbsp;
                            <span class="text nav-text">Logout</span>
                        </a>
                    </li>
                @*</ul>*@

            </div>
        </div>

    </nav>    

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2023 - ClinicManagementSystem - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
