@model ClinicManagementSystem.Models.AllPatientModel;

@{
    ViewData["Title"] = "All Patients";
    Layout = "_Layout";
}

<div class="card shadow" style="margin-top:20px">
    <form asp-action="NewPatient" asp-controller="Home" method="get">
        <div class="card-header">
            <div class="row">
                <div class="col-md-2" style="margin-top:10px; margin-bottom:5px; color:cornflowerblue; font-weight:bold">All Patients</div>
                <div class="col-md-8"></div>
                <div class="col-md-2" style="margin-top:4px">
                    <input type="submit" value="New Patient" class="btn btn-primary btn-sm" style="margin-left:55px; background:linear-gradient(-135deg, #71b7e6, #9b59b6); border:none" />
                </div>
            </div>
        </div>
    </form>
    <div class="card-body">
        <div class="box-body with-border">
            <table id="allPatientsTable">
                <thead>
                    <tr>
                        <th style="font-weight:normal">ID</th>
                        <th style="font-weight:normal">Patient Name</th>
                        <th style="font-weight:normal">Phone</th>
                        <th style="font-weight:normal">Blood Group</th>
                        <th style="font-weight:normal">Date</th>
                        <th style="font-weight:normal">Actions</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#allPatientsTable').DataTable();
    });
</script>