@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div id="msgDiv" style="margin-top:15px">
    @{
        if (TempData["msg"] != null)
        {            
            <div class="alert alert-success" onclick="$(this).slideUp(500);" onshow="$(this).slideUp(800);" role="alert">@TempData["msg"]</div>
        }
    }
</div>

<div style="padding-top:20px">
    <div class="row">
        <div class="col-md-3">
            <div class="card shadow" style="border-left: solid 4px blue;">
                <div class="card-body" style="padding-bottom:60px;">
                    <h6 style="font-weight: normal">New Appointments</h6>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow" style="border-left: solid 4px forestgreen;">
                <div class="card-body" style="padding-bottom:60px">
                    <h6 style="font-weight: normal">Total Appointments</h6>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow" style="border-left: solid 4px lightseagreen;">
                <div class="card-body" style="padding-bottom:60px">
                    <h6 style="font-weight: normal">New Patients</h6>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow" style="border-left: solid 4px darkgoldenrod;">
                <div class="card-body" style="padding-bottom:60px">
                    <h6 style="font-weight: normal">All Patients</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top:20px; padding-bottom:50px">
        <div class="col-md-3">
            <div class="card shadow" style="border-left: solid 4px blue;">
                <div class="card-body" style="padding-bottom:60px">
                    <h6 style="font-weight: normal">Total Prescriptions</h6>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow" style="border-left: solid 4px forestgreen;">
                <div class="card-body" style="padding-bottom:60px">
                    <h6 style="font-weight: normal">Total Payments</h6>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow" style="border-left: solid 4px lightseagreen;">
                <div class="card-body" style="padding-bottom:60px">
                    <h6 style="font-weight: normal">Payment This Month</h6>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow" style="border-left: solid 4px darkgoldenrod;">
                <div class="card-body" style="padding-bottom:60px">
                    <h6 style="font-weight: normal">Payments This Year</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow">
        <form asp-action="" asp-controller="" method="get">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-4" style="margin-top:10px; margin-bottom:5px; color:cornflowerblue; font-weight:bold">Appointment List &nbsp;|&nbsp; @DateTime.Today.ToString("dddd, dd MMMM yyyy")</div>
                    <div class="col-md-6"></div>
                    <div class="col-md-2" style="margin-top:4px">
                        <input type="submit" value="New Appointment" class="btn btn-primary btn-sm" style="margin-left:30px; background:linear-gradient(-135deg, #71b7e6, #9b59b6); border:none" />
                    </div>
                </div>
            </div>
        </form>
        <div class="card-body">
            <div class="box-body with-border">
                <table id="doctable" class="table table-hover">
                    <thead>
                        <tr>
                            <th style="font-weight:normal">ID</th>
                            <th style="font-weight:normal">Patient Name</th>
                            <th style="font-weight:normal">Date</th>
                            <th style="font-weight:normal">Time Slot</th>
                            <th style="font-weight:normal">Status</th>
                            <th style="font-weight:normal">Created At</th>
                            <th style="font-weight:normal">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#doctable').DataTable();
    });
</script>




