@model ClinicManagementSystem.Models.LoginModel
@{
    ViewData["Title"] = "Login Page";
    Layout = "_LoginLayout";
}

<style>
    .container-fluid {
        overflow: hidden;
    }

    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 500px;
        background: white;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0px 30px 25px -1px rgb(0,0,0,.6);
    }

        .container h2 {
            text-align: center;
            padding: 0 0 20px 0;
            margin-top: 20px;
        }

    .form-group {
        padding: 0 40px;
        box-sizing: border-box;
    }

    .btn {
        background: linear-gradient(135deg, #71b7e6, #9b59b6);
    }

        .btn:hover {
            background: linear-gradient(-135deg, #71b7e6, #9b59b6);
        }
</style>

<div id="msgDiv" style="margin-top:15px">
    @{
        if (TempData["msg"] != null)
        {
            <div class="alert alert-success" onclick="$(this).slideUp(500);" onshow="$(this).slideUp(800);" role="alert">@TempData["msg"]</div>
        }
    }
</div>

<form asp-action="Login" asp-controller="Home" method="post">
    <div class="container">
        <h2 style="color:cornflowerblue;">
            Login Page
        </h2>
        <hr />
        <div class="form-group">
            <label class="control-label"><span style="color:red">*</span>Username <span asp-validation-for="Username" class="clearfix text-danger" style="font-size: 12px"></span></label>
            <input class="form-control" asp-for="Username" type="text" placeholder="Enter Username" />
        </div>
        <br />
        <div class="form-group">
            <label class="control-label"><span style="color:red">*</span>Password <span asp-validation-for="Password" class="clearfix text-danger" style="font-size: 12px"></span></label>
            <input class="form-control" asp-for="Password" type="password" placeholder="Enter Password" />
        </div>
        <br />
        <div class="form-group">
            <input class="form-control btn btn-primary" type="submit" />
        </div>
        <div class="form-group mt-1">
            <label class="control-label mb-4">Not a Member | <a href="@Url.Action("Registration", "Home")">Sign-Up</a></label>
        </div>

    </div>
</form>

<script type="text/javascript">

</script>

