@model ClinicManagementSystem.Models.NewAppointment
@{
    ViewData["Title"] = "New Appointment";
    Layout = "_Layout";
}

<div class="card shadow mt-4">
    <form asp-action="NewAppointment" asp-controller="Appointment" method="post">
        <div class="card-header">
            <div class="row">
                <div class="col-md-2" style="margin-top:10px; margin-bottom:5px; color:cornflowerblue; font-weight:bold">New Appoinemtnts</div>
                <div class="col-md-10"></div>
            </div>
        </div>
        <div class="card-body">
            <div class="row mb-4">
                <div class="col-md-4">
                    <label class="control-label"><span style="color:red">*</span>Patient Name</label>
                </div>
                <div class="col-md-8">
                    @*<select class="form-select" asp-for="Name">
                    <option value="">Select</option>
                    </select>*@
                    <input type="text" placeholder="Enter Name" asp-for="Name" class="form-control" />
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-4">
                    <label class="control-label"><span style="color:red">*</span>Select Date</label>
                </div>
                <div class="col-md-8">
                    <input type="date" asp-for="Date" class="form-control" />
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-4">
                    <label class="control-label"><span style="color:red">*</span>Select Time</label>
                </div>
                <div class="col-md-8">
                    <input type="time" asp-for="Time" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label class="control-label"><span style="color:red">*</span>Status</label>
                </div>
                <div class="col-md-8">
                    <select class="form-select" asp-for="Status">
                        <option value="">Select</option>
                        <option value="Visited">Visited</option>
                        <option value="Pending">Pending</option>
                    </select>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <input type="submit" value="Submit" class="btn btn-primary btn-sm" style="padding-left:60px; padding-right:60px; margin-left:170px; background:linear-gradient(-135deg, #71b7e6, #9b59b6); border:none" />
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </form>
</div>
