@model ClinicManagementSystem.Models.NewPrescriptionModel
@{
    ViewData["Title"] = "New Prescriptions";
    Layout = "_Layout";
}

@{
    string DocId = string.Empty;
    GetSessionModel sessionModel = Context.Session.GetObjectFromJson<GetSessionModel>(SessionVariables.SessionData);
    if (sessionModel != null)
    {
        DocId = Convert.ToString(sessionModel.DocId);
    }
}


<div id="msgDiv" style="margin-top:15px">
    @{
        if (TempData["msg"] != null)
        {
            if (TempData.ContainsKey("New Prescription not Inserted Created"))
            {
                <div class="alert alert-danger" role="alert">@TempData["msg"]</div>
            }
            
        }
    }
</div>

<form asp-action="NewPrescription" asp-controller="Prescription" method="post">
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card shadow" style="margin-top:20px">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6" style="margin-top:10px; margin-bottom:5px; color:cornflowerblue; font-weight:bold">Patient Information</div>
                        <div class="col-md-6"></div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-md-2">
                            <label class="control-label" style="margin-top:5px">Patient: </label>
                        </div>
                        <div class="col-md-10">
                            <select class="form-select js-example-basic-single" name="PatientName" asp-for="PatientName">
                                <option value="">Select Patient ...</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <img class="mt-3" style="width:310px; margin-left:100px" alt="Sign" src="@Url.Content("~/Images/user.png")" />
                    </div>
                    <input type="submit" value="Add Prescription" class="btn btn-primary btn-sm" style="padding-left:60px; padding-right:60px; margin-left:130px; margin-top:20px; background:linear-gradient(-135deg, #71b7e6, #9b59b6); border:none" />
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card shadow" style="margin-top:20px">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6" style="margin-top:10px; margin-bottom:5px; color:cornflowerblue; font-weight:bold">Drug List</div>
                        <div class="col-md-6"></div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="DrugDivMain">
                        <div class="internalDrugDiv">
                            <div class="row mb-4">
                                <div class="col-md 3">
                                    <input type="text" class="form-control" placeholder="DrugType" asp-for="DrugType" />
                                </div>
                                <div class="col-md 6">
                                    <select class="form-select js-example-basic-single" name="DrugName" multiple="multiple" asp-for="DrugName">
                                        @*<option value="">Select Drug...</option>*@
                                    </select>
                                </div>
                                <div class="col-md 3">
                                    <input type="text" class="form-control" placeholder="Mg/Ml" asp-for="DrugMgOrMl" />
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="Dose" asp-for="DrugDosage" />
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="Duration" asp-for="DrugDuration" />
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-md-12">
                                    <input type="text" class="form-control" placeholder="Advice/Comments" asp-for="DrugAdviceOrComments" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card shadow mt-5">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6" style="margin-top:10px; margin-bottom:5px; color:cornflowerblue; font-weight:bold">Tests List</div>
                        <div class="col-md-6"></div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="testDivMain">
                        <div class="testDivInternal">
                            <div class="row">
                                <div class="col-md-6">
                                    <select class="form-select js-example-basic-single" name="TestName" multiple="multiple" asp-for="TestName">
                                        @*<option value="">Select Test...</option>*@
                                    </select>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <input type="text" class="form-control" placeholder="Description" asp-for="TestDescription" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12" hidden>
                                    <input type="number" class="form-control" placeholder="Description" asp-for="PatientId" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card shadow" style="margin-top:50px">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6" style="margin-top:10px; margin-bottom:5px; color:cornflowerblue; font-weight:bold">Past Records Of the Patient</div>
                        <div class="col-md-6"></div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-hover" id="tableResponseBody">
                        <thead>
                            <tr>
                                <th style="font-weight:bold">ID</th>
                                <th style="font-weight:bold">Patient Name</th>
                                <th style="font-weight:bold">Drug Name</th>
                                <th style="font-weight:bold">TestName</th>
                                <th style="font-weight:bold">Visited On</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                    
                </div>
            </div>

        </div>
    </div>
</form>

<script type="text/javascript">
    var PatientId;

    $(document).ready(function () {
        $('#tableResponseBody').DataTable();
        $('.js-example-basic-single').select2();
        var DocId = @DocId;
        $('#PatientName').ready(function () {
            $('#PatientName').empty();
            $('#PatientName').append('< option value = "" > Select < /option>');
            if (DocId !== 0) {
                $.ajax({
                    type: "GET",
                    url: "/Prescription/getAllPatientsName",
                    data: { DocId: DocId },
                    success: function (data) {
                        console.log(`getAllPatientsName : Response ====> ${JSON.stringify(data)}`);
                        $('#PatientName').empty();
                        var html = '<option value="">Select</option>';
                        $.each(data, function (key, value) {
                            html += '<option value="' + value.patientName + '-' + value.patientId + '"> ' + value.patientName + '</option>';
                        });
                        $('#PatientName').append(html);
                    },
                });
            }
        });

        $('#PatientName').change(function () {
            $('#PatientId').val(null);
            var patientId = $('#PatientName').find(":selected").val();
            PatientId = patientId.split("-")[1];
            $('#PatientId').val(function () {
                return this.value + PatientId;
            });
            if (DocId !== 0)
            {
                $.ajax({
                    type: "GET",
                    url: "/Prescription/getAllPastRecordsOfPatientOnId",
                    data: { DocId: DocId, PatientId: PatientId },
                    success: function (data){
                        console.log(`getAllPastRecordsOfPatientOnId : Response ====> ${JSON.stringify(data)}`);                        
                            var tr = '<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>';
                            $.each(data, function (key, value) {
                                tr += '<tr><td>' + value.id + '</td><td>' + value.patientName + '</td><td>' + value.drugName + '</td><td>' + value.testName + '</td><td>' + value.createdAt + '</td></tr>';
                            });
                            $('#tableResponseBody tbody').html(tr);                                               
                    },
                });
            }
        });

        $('#DrugName').ready(function () {
            $('#DrugName').empty();
            $('#DrugName').append('< option value = "" > Select < /option>');
            if (DocId !== 0) {
                $.ajax({
                    type: "GET",
                    url: "/Prescription/getAllDrugName",
                    data: { DocId: DocId },
                    success: function (data) {
                        console.log(`getAllDrugName : Response ====> ${JSON.stringify(data)}`);
                        $('#DrugName').empty();
                        var html = '<option value="">Select</option>';
                        $.each(data, function (key, value) {
                            html += '<option value="' + value.drugName + '"> ' + value.drugName + '</option>';
                        });
                        $('#DrugName').append(html);
                    },
                });
            }           
        });

        $('#TestName').ready(function () {
            $('#TestName').empty();
            $('#TestName').append('< option value = "" > Select < /option>');
            if (DocId !== 0) {
                $.ajax({
                    type: "GET",
                    url: "/Prescription/getAllTestName",
                    data: { DocId: DocId },
                    success: function (data) {
                        console.log(`getAllTestName : Response ====> ${JSON.stringify(data)}`);
                        $('#TestName').empty();
                        var html = '<option value="">Select</option>';
                        $.each(data, function (key, value) {
                            html += '<option value="' + value.testName + '"> ' + value.testName + '</option>';
                        });
                        $('#TestName').append(html);
                    },
                });
            }
        });

        $('#DrugName').select2({
            templateSelection: function (selected, total) {
                return selected.text;
            },
            templateResult: function (result) {
                var $option = $('<span></span>');
                $option.text(result.text);
                if (result.element && result.element.selected) {
                    $option.prepend('<span class="selected">&#10003;</span>'); 
                }
                return $option;
            },
            width: '100%', 
            dropdownAutoWidth: true, 
            minimumResultsForSearch: Infinity 
        });

        $('#DrugName').select2({
            placeholder: 'Select Drugs', 
        });

        $('#TestName').select2({
            templateSelection: function (selected, total) {
                return selected.text;
            },
            templateResult: function (result) {
                var $option = $('<span></span>');
                $option.text(result.text);
                if (result.element && result.element.selected) {
                    $option.prepend('<span class="selected">&#10003;</span>');
                }
                return $option;
            },
            width: '100%',
            dropdownAutoWidth: true,
            minimumResultsForSearch: Infinity
        });

        $('#TestName').select2({
            placeholder: 'Select Tests',
        });

    });
</script>
