@model ClinicManagementSystem.Models.NewBillingModel
@{
    ViewData["Title"] = "New Billing";
    Layout = "_Layout";
}

@{
    string DocId = string.Empty;
    GetSessionModel sessionModel = Context.Session.GetObjectFromJson<GetSessionModel>(SessionVariables.SessionData);
    if (sessionModel != null)
    {
        DocId = Convert.ToString(sessionModel.DocId);
    }
}

<div id="msgDiv" style="margin-top:15px">
    @{
        if (TempData["msg"] != null)
        {
            if (TempData.ContainsKey("New Billing not Inserted Succesfully"))
            {
                <div class="alert alert-danger" role="alert">@TempData["msg"]</div>
            }            
        }
    }
</div>

<form asp-action="NewBilling" asp-controller="Billing" method="post">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow" style="margin-top:20px">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-10" style="margin-top:10px; margin-bottom:5px; color:cornflowerblue; font-weight:bold">New Billing</div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row mb-4">
                        <div class="col-md-4">
                            <label class="control-label">Select Patient</label>
                        </div>
                        <div class="col-md-8">
                            <select class="form-select js-example-basic-single" name="PatientName" asp-for="PatientName">
                                <option value="">Select Patient...</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-4">
                            <label class="control-label">Payment Mode</label>
                        </div>
                        <div class="col-md-8">
                            <select class="form-select" asp-for="PaymentMode">
                                <option value="">Select...</option>
                                <option value="Cash">Cash</option>
                                <option value="Card">Card</option>
                                <option value="UPI">UPI</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-4">
                            <label class="control-label">Amount</label>
                        </div>
                        <div class="col-md-8">
                            <input type="number" class="form-control" placeholder="Amount" asp-for="Amount" />
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-4">
                            <label class="control-label">Payment Status</label>
                        </div>
                        <div class="col-md-8">
                            <select class="form-select" asp-for="PaymentStatus">
                                <option value="">Select</option>
                                <option value="Paid">Paid</option>
                                <option value="Unpaid">Unpaid</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-4" hidden>
                        <div class="col-md-4">
                            <label class="control-label">Patient Id</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" placeholder="Description" asp-for="PatientId" />
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <input type="submit" value="Submit" class="btn btn-primary btn-sm" style="background:linear-gradient(-135deg, #71b7e6, #9b59b6); border:none" />
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    var PatientId;

    $(document).ready(function () {
        $('.js-example-basic-single').select2();
        var DocId = @DocId;
        $("#msgDiv").fadeTo(2000, 500).slideUp(500, function () {
            $("#msgDiv").slideUp(500);
        });
        $("#success-alert").fadeTo(2000, 500).slideUp(500, function () {
            $("#success-alert").slideUp(500);
        });

        $('#PatientName').empty();
        $('#PatientName').append('< option value = "" > Select Patient... < /option>');
        if (DocId !== 0) {
            $.ajax({
                type: "GET",
                url: "/Billing/getAllPatientsName",
                data: { DocId: DocId },
                success: function (data) {
                    console.log(`getAllPatientsNameForBilling : Response ====> ${JSON.stringify(data)}`);
                    $('#PatientName').empty();
                    var html = '<option value="">Select</option>';
                    $.each(data, function (key, value) {
                        html += '<option value="' + value.patientFirstName + " " + value.patientLastName + '-' + value.patientId + '"> ' + value.patientFirstName + " " + value.patientLastName + '</option>';
                    });
                    $('#PatientName').append(html);
                },
            });
            $('#PatientName').change(function () {
                $('#PatientId').val(null);
                var patientId = $('#PatientName').find(":selected").val();
                PatientId = patientId.split("-")[1];
                $('#PatientId').val(function () {
                    return this.value + PatientId;
                });
            });
        }       
    });



</script>
