@model ClinicManagementSystem.Models.AllTestModelVM
@{
    ViewData["Title"] = "All Patients";
    Layout = "_Layout";
}
<div id="msgDiv" style="margin-top:15px">
    @{
        if (TempData["msg"] != null)
        {
            <div class="alert alert-success" onclick="$(this).slideUp(500);" onshow="$(this).slideUp(800);" role="alert">@TempData["msg"]</div>
        }
    }
</div>

<div class="card shadow" style="margin-top:20px">
    <div class="card-header">
        <div class="row">
            <div class="col-md-2" style="margin-top:10px; margin-bottom:5px; color:cornflowerblue; font-weight:bold">All Tests</div>
            <div class="col-md-8"></div>
            <div class="col-md-2" style="margin-top:4px">
                <a asp-action="NewTest" asp-controller="Test" method="get">
                    <input type="submit" value="New Tests" class="btn btn-primary btn-sm" style="margin-left:55px; background:linear-gradient(-135deg, #71b7e6, #9b59b6); border:none" />
                </a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="box-body with-border">
            <table id="allTestsTable" class="table table-hover">
                <thead>
                    <tr>
                        <th style="font-weight:normal">ID</th>
                        <th style="font-weight:normal">Test Name</th>
                        <th style="font-weight:normal">Description</th>
                        <th style="font-weight:normal">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model.allTestModelsList != null && Model.allTestModelsList.Count > 0)
                        {
                            foreach (var item in Model.allTestModelsList)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.TestName</td>
                                    <td>@item.Description</td>
                                    <td>Sample</td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#allTestsTable').DataTable();
    });
</script>

